$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('jumbotron.jpg');
  background-size: cover;
  height: 550px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-meta-details {
  border-top: 1px solid #EAEAEA;
  margin-top: 5px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #D3D3D3;
}

.article-listing-categories {
  border-top: 1px solid #EAEAEA;
  margin-top: 5px
}